api_tasks/assets/C04L05_ownapipro_blueprint.json
{
    "name": "ownapipro",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 550879,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -1787,
                    "y": -612
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "ownapipro webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "question",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": true,
                        "multiline": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 5,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 1630325
            },
            "mapper": {
                "base": "appQvaHpfrXKQZYAY",
                "table": "tblxeHHx0ixt8DDQn",
                "record": {
                    "fld05x1kqZn8iBktT": "user",
                    "fld2YATlADkJDbhsu": "{{1.question}}"
                },
                "typecast": false,
                "useColumnId": true
            },
            "metadata": {
                "designer": {
                    "x": -1599,
                    "y": -349
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "aidevs"
                        },
                        "table": {
                            "label": "messages",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fld2YATlADkJDbhsu",
                                            "type": "text",
                                            "label": "message"
                                        },
                                        {
                                            "name": "fld05x1kqZn8iBktT",
                                            "type": "text",
                                            "label": "role"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "aidevs"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fld2YATlADkJDbhsu",
                                "type": "text",
                                "label": "message"
                            },
                            {
                                "name": "fld05x1kqZn8iBktT",
                                "type": "text",
                                "label": "role"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "fldbs3Hu4p8zNCZfo",
                        "type": "number",
                        "label": "id"
                    },
                    {
                        "name": "fld2YATlADkJDbhsu",
                        "type": "text",
                        "label": "message"
                    },
                    {
                        "name": "fld05x1kqZn8iBktT",
                        "type": "text",
                        "label": "role"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 6,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 1630325
            },
            "mapper": {
                "base": "appQvaHpfrXKQZYAY",
                "sort": [
                    {
                        "field": "id",
                        "direction": "asc"
                    }
                ],
                "table": "tblxeHHx0ixt8DDQn",
                "fields": [
                    "id",
                    "message",
                    "role",
                    "created"
                ],
                "formula": "DATETIME_DIFF(NOW(), CREATED_TIME(), 'minutes') < 2",
                "maxRecords": "20",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": -1257,
                    "y": -348
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "aidevs"
                        },
                        "sort": {
                            "mode": "chose",
                            "items": [
                                {
                                    "field": {
                                        "mode": "chose",
                                        "label": "id"
                                    },
                                    "direction": {
                                        "mode": "chose",
                                        "label": "Ascending"
                                    }
                                }
                            ]
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "messages"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "id",
                                "message",
                                "role",
                                "created"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "aidevs"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "id",
                        "type": "number",
                        "label": "id"
                    },
                    {
                        "name": "message",
                        "type": "text",
                        "label": "message"
                    },
                    {
                        "name": "role",
                        "type": "text",
                        "label": "role"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "created"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 8,
            "module": "json:AggregateToJSON",
            "version": 1,
            "parameters": {
                "type": 57108,
                "space": "4",
                "feeder": 6
            },
            "mapper": {
                "role": "{{6.role}}",
                "content": "{{6.message}}"
            },
            "metadata": {
                "designer": {
                    "x": -1259,
                    "y": -603
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Airtable - Search Records [6]"
                        }
                    },
                    "parameters": {
                        "type": {
                            "label": "messages"
                        },
                        "space": {
                            "label": "4 spaces"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure",
                        "required": true
                    },
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "role",
                        "type": "text",
                        "label": "Role",
                        "required": true
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 16,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 57108
            },
            "mapper": {
                "json": "{{8.json}}"
            },
            "metadata": {
                "designer": {
                    "x": -943,
                    "y": -608
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "messages"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "role",
                        "type": "text",
                        "label": "Role",
                        "default": null,
                        "required": true,
                        "multiline": false
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content",
                        "default": null,
                        "required": true,
                        "multiline": true
                    }
                ]
            }
        },
        {
            "id": 17,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 16,
                "target": "2.messages"
            },
            "mapper": {
                "role": "{{16.role}}",
                "content": "{{16.content}}"
            },
            "metadata": {
                "designer": {
                    "x": -627,
                    "y": -603
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "JSON - Parse JSON [16]"
                        },
                        "target": {
                            "label": "Messages"
                        }
                    },
                    "expect": {
                        "__IMTTARGET__": {
                            "nested": {
                                "role": {
                                    "mode": "edit"
                                }
                            }
                        }
                    }
                },
                "expect": [
                    {
                        "name": "role",
                        "type": "select",
                        "label": "Role",
                        "required": true,
                        "validate": {
                            "enum": [
                                "system",
                                "user",
                                "assistant"
                            ]
                        }
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Message Content"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 1605437
            },
            "mapper": {
                "select": "chat",
                "max_tokens": "4000",
                "temperature": "1",
                "top_p": "1",
                "n_completions": "1",
                "response_format": "text",
                "model": "gpt-4-turbo",
                "messages": "{{17.array}}"
            },
            "metadata": {
                "designer": {
                    "x": -295,
                    "y": -834
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My OpenAI connection",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Create a Chat Completion (GPT Models)"
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "stop": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4-turbo (system)"
                        },
                        "messages": {
                            "mode": "edit"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "max_tokens",
                        "type": "number",
                        "label": "Max Tokens",
                        "required": true
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "type": "array",
                        "label": "Token Probability",
                        "spec": {
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability",
                            "name": "value"
                        }
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        },
                        "spec": {
                            "type": "text",
                            "label": "Stop Sequence",
                            "name": "value"
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "type": "array",
                        "label": "Other Input Parameters",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter",
                            "name": "value"
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": {
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "System",
                                            "value": "system"
                                        },
                                        {
                                            "label": "User",
                                            "value": "user"
                                        },
                                        {
                                            "label": "Assistant",
                                            "value": "assistant"
                                        }
                                    ],
                                    "required": true
                                },
                                {
                                    "name": "content",
                                    "type": "text",
                                    "label": "Message Content"
                                }
                            ],
                            "type": "collection",
                            "label": "Message",
                            "name": "value"
                        }
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 11,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 1630325
            },
            "mapper": {
                "base": "appQvaHpfrXKQZYAY",
                "table": "tblxeHHx0ixt8DDQn",
                "record": {
                    "fld05x1kqZn8iBktT": "assistant",
                    "fld2YATlADkJDbhsu": "{{2.result}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": -308,
                    "y": -334
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "aidevs"
                        },
                        "table": {
                            "label": "messages",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fld2YATlADkJDbhsu",
                                            "type": "text",
                                            "label": "message"
                                        },
                                        {
                                            "name": "fld05x1kqZn8iBktT",
                                            "type": "text",
                                            "label": "role"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "aidevs"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fld2YATlADkJDbhsu",
                                "type": "text",
                                "label": "message"
                            },
                            {
                                "name": "fld05x1kqZn8iBktT",
                                "type": "text",
                                "label": "role"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "id",
                        "type": "number",
                        "label": "id"
                    },
                    {
                        "name": "message",
                        "type": "text",
                        "label": "message"
                    },
                    {
                        "name": "role",
                        "type": "text",
                        "label": "role"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "created"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "json:CreateJSON",
            "version": 1,
            "parameters": {
                "type": 55782,
                "space": ""
            },
            "mapper": {
                "reply": "{{2.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 19,
                    "y": -592
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Answer"
                        },
                        "space": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure",
                        "required": true
                    },
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "reply",
                        "type": "text",
                        "label": null,
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{{4.json}}",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 361,
                    "y": -594
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "default": 200,
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "advanced": true,
                        "editable": true,
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}